extends layout.pug

block title
  title Books

block content 
  div
    h1 Books
    div.homelinkmargin
      a.button.expanded.homelink(href="/books/new") Create New Book
    div.homelinkmargin
      a.button.expanded.homelink(href="/search") Search Books
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in bookList
          tr
            td 
              a(href="/books/" + book.id)= book.title
            td= book.author
            td= book.genre
            td= book.year
  ul.paginateLinks
    if (page != 1)
      li.pageLink
        a(href='/books/?page=' + (page-1)) Prev
    - for (let i=1; i<= pageCount; i++)
        if (i == page)
          li.pageLink.activePage
            =i
        else
          li.pageLink
            a(href='/books/?page=' + i)= i
    if (page != pageCount)
      li.pageLink
        a(href='/books/?page=' + (page+1)) Next